<!DOCTYPE html>
<html lang="en">
<%- include('./layouts/Header')%>

    <body>
        <div class="boxed_wrapper">
            <div class="preloader"></div>
            <%- include('./layouts/Navigation')%>

                <!--Start breadcrumb area-->
                <section class="breadcrumb-area" style="
          background-image: url(/frontend/images/resources/breadcrumb-bg.jpg);
        ">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="inner-content clearfix">
                                    <div class="title">
                                        <h1>About Us</h1>
                                    </div>
                                    <div class="breadcrumb-menu float-right">
                                        <ul class="clearfix">
                                            <li><a href="/">Home</a></li>
                                            <li class="active">about</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--End breadcrumb area-->

                <!--Start Company Overview Area-->
                <section class="company-overview-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="intro-box clearfix">
                                    <div class="sec-title">
                                        <p>Company Overview</p>
                                        <div class="title">A LEADING CONTRACTING COMPANY<br />
                                            <span>IN LAO PDR</span>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <p>
                                            The key to the company's success is the maintenance of close working
                                            relationship with the clients through ensuring the best possible solutions
                                            to their needs;
                                            To establish and maintain a thoroughknowledge and understanding of client's
                                            objective and help them maximize the benefits.
                                            As we did from week one, we carry-out to provide cutting edge electrical
                                            solutions to customers and major client of Lao PDR
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12">
                                <div class="single-service-top">
                                    <div class="text">
                                        <h2>About Electric</h2>
                                        <div class="inner">
                                            <p>3S Electrical Company Limited is founded in 2014, it is registered in
                                                Champasack
                                                Province, Lao PDR. The company has been formed by a group of
                                                professionals having
                                                vivid experience and wide exposure in electrical engineering. We
                                                provide the
                                                electrical power solution in Lao PDR.</p>
                                        </div>
                                    </div>
                                    <div class="single-service-image-box">
                                        <img src="/frontend/uploads/electrical/electrict.jpg" alt="Awesome Image">
                                    </div>
                                </div>

                                <div class="advantages-content">
                                    <div class="row">
                                        <!--Start Single Advantages Box-->
                                        <div class="col-xl-3 col-lg-6 col-md-6">
                                            <div class="single-advantages-box">
                                                <div class="inner">
                                                    <div class="static-content">
                                                        <div class="icon-holder">
                                                            <span class="icon-success"></span>
                                                        </div>
                                                        <div class="title">
                                                            <h3>Interior<br> Expertise</h3>
                                                        </div>
                                                    </div>
                                                    <div class="overlay-text">
                                                        <div class="box">
                                                            <div class="inner-text">
                                                                <p>Have to accepted That is wise man of therefore
                                                                    always we indignation.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Single Advantages Box-->
                                        <!--Start Single Advantages Box-->
                                        <div class="col-xl-3 col-lg-6 col-md-6">
                                            <div class="single-advantages-box">
                                                <div class="inner">
                                                    <div class="static-content">
                                                        <div class="icon-holder">
                                                            <span class="icon-guarantee-certificate"></span>
                                                        </div>
                                                        <div class="title">
                                                            <h3>Guranteed<br> Work</h3>
                                                        </div>
                                                    </div>
                                                    <div class="overlay-text">
                                                        <div class="box">
                                                            <div class="inner-text">
                                                                <p>Have to accepted That is wise man of therefore
                                                                    always we indignation.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Single Advantages Box-->
                                        <!--Start Single Advantages Box-->
                                        <div class="col-xl-3 col-lg-6 col-md-6">
                                            <div class="single-advantages-box">
                                                <div class="inner">
                                                    <div class="static-content">
                                                        <div class="icon-holder">
                                                            <span class="icon-hr"></span>
                                                        </div>
                                                        <div class="title">
                                                            <h3>Free<br> Consultation</h3>
                                                        </div>
                                                    </div>
                                                    <div class="overlay-text">
                                                        <div class="box">
                                                            <div class="inner-text">
                                                                <p>Have to accepted That is wise man of therefore
                                                                    always we indignation.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Single Advantages Box-->
                                        <!--Start Single Advantages Box-->
                                        <div class="col-xl-3 col-lg-6 col-md-6">
                                            <div class="single-advantages-box">
                                                <div class="inner">
                                                    <div class="static-content">
                                                        <div class="icon-holder">
                                                            <span class="icon-wallet"></span>
                                                        </div>
                                                        <div class="title">
                                                            <h3>Reasonable<br> Price</h3>
                                                        </div>
                                                    </div>
                                                    <div class="overlay-text">
                                                        <div class="box">
                                                            <div class="inner-text">
                                                                <p>Have to accepted That is wise man of therefore
                                                                    always we indignation.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Single Advantages Box-->
                                    </div>
                                </div>

                                <div class="how-work-box">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="image-box">
                                                <img src="/frontend/images/services/service-single/how-work.jpg"
                                                    alt="Awesome Image">
                                                <img src="/frontend/uploads/electrical/elect-work2.png"
                                                    alt="Awesome Image">
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="how-works-content">
                                                <h2>How We Work</h2>
                                                <ul>
                                                    <li>
                                                        <div class="icon">
                                                            <span class="icon-tick"></span>
                                                        </div>
                                                        <div class="text">
                                                            <span>VISSION</span>
                                                            <h3>Brief & Concept</h3>
                                                            <p>We have 5 core values of Safety, Honesty, Integrity,
                                                                Transparency, and Innovation.</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="icon">
                                                            <span class="icon-tick"></span>
                                                        </div>
                                                        <div class="text">
                                                            <span>MISSION</span>
                                                            <h3>Detailed Design</h3>
                                                            <p>We are committed to a high quality of workmanship and
                                                                provide a safe work environment
                                                                on all projects. We know that people do business
                                                                with companies that meet their needs
                                                                and provide reliable service. We attribute our
                                                                success to building strategic partnerships
                                                                and treating customers the way we want to be
                                                                treated.</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="icon">
                                                            <span class="icon-tick"></span>
                                                        </div>
                                                        <div class="text">
                                                            <span>AMBITION</span>
                                                            <h3>Installation</h3>
                                                            <p><strong>Staff:</strong> We foster professional
                                                                development. We are one team, helping each other
                                                                achieve the company’s objectives through a
                                                                process of continuous improvement.</p>
                                                            <p><strong>Clients:</strong> We enhance efficiency and
                                                                reliability of our performance by implementing
                                                                international standards. We aim to achieve a high
                                                                level of client’s satisfaction.</p>
                                                            <p><strong>Communities and Environment:</strong>We are
                                                                responsible and care for the environment. We make
                                                                the skills of Lao people like better competency,
                                                                now, and for the next
                                                                generations. We contribute to the growth of the Lao
                                                                economy by supporting domestic businesses.</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12">
                                <div class="single-service-top">
                                    <div class="text">
                                        <h2>About Agriculture</h2>
                                        <div class="inner">
                                            <p>3S Agriculture Company Limited is established in June 2020 for production, process
                                              and providing the agricultural products such as rice, vegetable, pork, fish, etc. to
                                              domestic market at the beginning.<br />
                                              Since we face Covid-19 situation in 2020, we have time to lookup at our real need to
                                              be able live in this word. We analyzed many factors of need and the best solution for
                                              Lao farmers. We will pay more attention for best quality of the products from
                                              beginning of production until the hands of customers.</p>
                                            <p></p>
                                        </div>
                                    </div>
                                    <div class="single-service-image-box">
                                        <img src="/frontend/uploads/agriculture/agriculture&farm.png" alt="Awesome Image">
                                    </div>
                                </div>
        
                                <div class="advantages-content">
                                    <div class="row">
                                        <!--Start Single Advantages Box-->
                                        <div class="col-xl-3 col-lg-6 col-md-6">
                                            <div class="single-advantages-box">
                                                <div class="inner">
                                                    <div class="static-content">
                                                        <div class="icon-holder">
                                                            <span class="icon-success"></span>
                                                        </div>
                                                        <div class="title">
                                                            <h3>Create<br> Experience</h3>
                                                        </div>
                                                    </div>
                                                    <div class="overlay-text">
                                                        <div class="box">
                                                            <div class="inner-text">
                                                                <p>Have to accepted That is wise man of therefore always we indignation.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Single Advantages Box-->
                                        <!--Start Single Advantages Box-->
                                        <div class="col-xl-3 col-lg-6 col-md-6">
                                            <div class="single-advantages-box">
                                                <div class="inner">
                                                    <div class="static-content">
                                                        <div class="icon-holder">
                                                            <span class="icon-guarantee-certificate"></span>
                                                        </div>
                                                        <div class="title">
                                                            <h3>Guranteed<br> Work</h3>
                                                        </div>
                                                    </div>
                                                    <div class="overlay-text">
                                                        <div class="box">
                                                            <div class="inner-text">
                                                                <p>Have to accepted That is wise man of therefore always we indignation.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Single Advantages Box-->
                                        <!--Start Single Advantages Box-->
                                        <div class="col-xl-3 col-lg-6 col-md-6">
                                            <div class="single-advantages-box">
                                                <div class="inner">
                                                    <div class="static-content">
                                                        <div class="icon-holder">
                                                            <span class="icon-hr"></span>
                                                        </div>
                                                        <div class="title">
                                                            <h3>Free<br> Consultation</h3>
                                                        </div>
                                                    </div>
                                                    <div class="overlay-text">
                                                        <div class="box">
                                                            <div class="inner-text">
                                                                <p>Have to accepted That is wise man of therefore always we indignation.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Single Advantages Box-->
                                        <!--Start Single Advantages Box-->
                                        <div class="col-xl-3 col-lg-6 col-md-6">
                                            <div class="single-advantages-box">
                                                <div class="inner">
                                                    <div class="static-content">
                                                        <div class="icon-holder">
                                                            <span class="icon-wallet"></span>
                                                        </div>
                                                        <div class="title">
                                                            <h3>Reasonable<br> Price</h3>
                                                        </div>
                                                    </div>
                                                    <div class="overlay-text">
                                                        <div class="box">
                                                            <div class="inner-text">
                                                                <p>Have to accepted That is wise man of therefore always we indignation.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Single Advantages Box-->
                                    </div>
                                </div>
        
                                <div class="how-work-box">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="image-box">
                                                <img src="/frontend/uploads/agriculture/work.png" alt="Awesome Image">
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="how-works-content">
                                                <h2>How We Work</h2>
                                                <ul>
                                                    <li>
                                                        <div class="icon">
                                                            <span class="icon-tick"></span>
                                                        </div>
                                                        <div class="text">
                                                            <span>VISION</span>
                                                            <h3>Brief & Concept</h3>
                                                            <p>We have 5 core values of Safety, Integrity, Transparency, Innovation, and stability.</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="icon">
                                                            <span class="icon-tick"></span>
                                                        </div>
                                                        <div class="text">
                                                            <span>MISSION</span>
                                                            <h3>Detailed Design</h3>
                                                            <p>Our mission is to provide the qualitative and reliable products in agricultural sections.
                                                              We are committed to a high quality of agricultural products. We attribute our success to
                                                              building strategy on sustainable markets, technics, and funding.
                                                              We believe the quality in our work will represent us for years to come.</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="icon">
                                                            <span class="icon-tick"></span>
                                                        </div>
                                                        <div class="text">
                                                            <span>AMBITION</span>
                                                            <h3>Installation</h3>
                                                            <p>We foster professional development. <br> We are one team, helping each other achieve the company’s objectives through a
                                                              process of continuous improvement.</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="how-work-box">
                                  <div class="row">
                                      <div class="col-xl-6">
                                          <div class="how-works-content">
                                              <h2>What For Clients</h2>
                                              <ul>
                                                  <li>
                                                      <div class="icon">
                                                          <span class="icon-tick"></span>
                                                      </div>
                                                      <div class="text">
                                                          <span>QUALITY</span>
                                                          <p>We will set appropriate quality objectives, target, and our system to meet the
                                                            standard requirement and develop a culture that ensures continuous improvement in
                                                            our management system to enhance quality performance and customer satisfaction.</p>
                                                      </div>
                                                  </li>
                                                  <li>
                                                      <div class="icon">
                                                          <span class="icon-tick"></span>
                                                      </div>
                                                      <div class="text">
                                                          <span>HEALTH</span>
                                                          <p>We have a systematic framework to prevent accidents and ill-health in the workplace.
                                                            We arrange the alcohol and temperature test of all staff before starting works. The
                                                            COVID-19 pandemic has transformed the world of work, we take it into account by
                                                            taking the mask, keeping social distancing, and following all rules and notices of local
                                                            government and Government of Laos.</p>
                                                      </div>
                                                  </li>
                                                  <li>
                                                      <div class="icon">
                                                          <span class="icon-tick"></span>
                                                      </div>
                                                      <div class="text">
                                                          <span>SAFETY AWARENESS</span>
                                                          <p>We are thinking the safety rules to prevent the safe work environment on all works.
                                                            Safety awareness is the habit of thinking about the chance that our staff can get hurt
                                                            or property damage before a task is started. So, we developed our policies and
                                                            procedures in parallel with making sure that our staff are aware of them and that they
                                                            think about safety in everything they do.
                                                            We provide the orientation of safety awareness policy and procedure for all
                                                            newcomers and we also provide the refresh training every year such as first aid,
                                                            firefighting, road safety, etc.</p>
                                                      </div>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                      <div class="col-xl-6">
                                        <div class="image-box">
                                            <img src="/frontend/uploads/agriculture/work.png" alt="Awesome Image">
                                        </div>
                                        <div class="image-box">
                                          <img src="/frontend/uploads/agriculture/machine.png" alt="Awesome Image">
                                        </div>
                                    </div>
                                  </div>
                                </div>       
        
                            </div>
                        </div>
                    </div>
                </section>
                <!--End Company Overview Area-->

                <!--Start Team Area-->
                <section class="team-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="sec-title float-left">
                                    <p>Behind Our Company</p>
                                    <div class="title">Expert & Experinced <span>Team</span></div>
                                </div>
                                <div class="view-all-member style2 float-right">
                                    <!-- <a class="btn-one" href="#">All Members<span class="flaticon-next"></span></a> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <% employees.forEach(function(employee) { %>
                                <!--Start Single Team Member-->
                                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                    <div class="single-team-member">
                                        <div class="img-holder">
                                            <% if(employee.image=="" ) { %>
                                                <img src="/frontend/images/noimage.png" class="company-employee-image"
                                                    alt="Awesome Image" />
                                                <% } else { %>
                                                    <img src="/uploads/images/employees/<%= employee._id %>/<%= employee.image %>"
                                                        class="company-employee-image" alt="Awesome Image" />
                                                    <% } %>

                                                        <ul class="sociallinks">
                                                            <li>
                                                                <a href="#"><i class="fa fa-facebook"
                                                                        aria-hidden="true"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="fa fa-twitter"
                                                                        aria-hidden="true"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="fa fa-skype"
                                                                        aria-hidden="true"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="fa fa-phone"
                                                                        aria-hidden="true"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="fa fa-instagram"
                                                                        aria-hidden="true"></i></a>
                                                            </li>
                                                        </ul>
                                                        <div class="overlay">
                                                            <div class="box">
                                                                <div class="link">
                                                                    <a class="btn-two" href="#">View Profile<span
                                                                            class="flaticon-next"></span></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                        </div>
                                        <div class="name text-center">
                                            <p><span>
                                                    <%= employee.position %>
                                                </span></p>
                                            <h3>
                                                <%= employee.firstname %>
                                                    <%= employee.lastname %>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <!--End Single Team Member-->
                                <% }); %>
                        </div>
                    </div>
                </section>
                <!--End Team Area-->

                <%- include('./layouts/Footer')%>
        </div>

        <div class="scroll-to-top scroll-to-target" data-target="html">
            <span class="fa fa-angle-up"></span>
        </div>

        <%- include('./layouts/Script')%>
    </body>

    <!-- about 06:46:46 GMT -->

</html>