<!DOCTYPE html>
<html lang="en">
    <%- include('./layouts/Header')%>
<body>
    <div class="boxed_wrapper">

        <%- include('./layouts/Navigation')%>

        <!--Start breadcrumb area-->
        <section class="breadcrumb-area style2" style="background-image: url(/frontend/uploads/services/banner_04.png);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="inner-content-box clearfix">
                            <div class="title-s2 text-center">
                                <span>Service</span>
                                <h1>Green Agriculture</h1>
                            </div>
                            <div class="breadcrumb-menu float-left">
                                <ul class="clearfix">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/agriculture">Services</a></li>
                                    <li class="active">Agriculture</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End breadcrumb area-->

        <!--Start Single Service Area-->
        <section class="single-service-area">
            <div class="container">
                <div class="row">
                    <%- include('./layouts/Sidebar')%>


                    <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12">
                        <div class="single-service-top">
                            <div class="single-service-image-box">
                                <img src="/frontend/uploads/agriculture/agriculture&farm.png" alt="Awesome Image">
                            </div>
                            <div class="text">
                                <h2>About Agriculture</h2>
                                <div class="inner">
                                    <p>3S Agriculture Company Limited is established in June 2020 for production, process
                                      and providing the agricultural products such as rice, vegetable, pork, fish, etc. to
                                      domestic market at the beginning.<br />
                                      Since we face Covid-19 situation in 2020, we have time to lookup at our real need to
                                      be able live in this word. We analyzed many factors of need and the best solution for
                                      Lao farmers. We will pay more attention for best quality of the products from
                                      beginning of production until the hands of customers.</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>

                        <div class="advantages-content">
                            <div class="row">
                                <!--Start Single Advantages Box-->
                                <div class="col-xl-3 col-lg-6 col-md-6">
                                    <div class="single-advantages-box">
                                        <div class="inner">
                                            <div class="static-content">
                                                <div class="icon-holder">
                                                    <span class="icon-success"></span>
                                                </div>
                                                <div class="title">
                                                    <h3>Create<br> Experience</h3>
                                                </div>
                                            </div>
                                            <div class="overlay-text">
                                                <div class="box">
                                                    <div class="inner-text">
                                                        <p>Have to accepted That is wise man of therefore always we indignation.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Single Advantages Box-->
                                <!--Start Single Advantages Box-->
                                <div class="col-xl-3 col-lg-6 col-md-6">
                                    <div class="single-advantages-box">
                                        <div class="inner">
                                            <div class="static-content">
                                                <div class="icon-holder">
                                                    <span class="icon-guarantee-certificate"></span>
                                                </div>
                                                <div class="title">
                                                    <h3>Guranteed<br> Work</h3>
                                                </div>
                                            </div>
                                            <div class="overlay-text">
                                                <div class="box">
                                                    <div class="inner-text">
                                                        <p>Have to accepted That is wise man of therefore always we indignation.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Single Advantages Box-->
                                <!--Start Single Advantages Box-->
                                <div class="col-xl-3 col-lg-6 col-md-6">
                                    <div class="single-advantages-box">
                                        <div class="inner">
                                            <div class="static-content">
                                                <div class="icon-holder">
                                                    <span class="icon-hr"></span>
                                                </div>
                                                <div class="title">
                                                    <h3>Free<br> Consultation</h3>
                                                </div>
                                            </div>
                                            <div class="overlay-text">
                                                <div class="box">
                                                    <div class="inner-text">
                                                        <p>Have to accepted That is wise man of therefore always we indignation.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Single Advantages Box-->
                                <!--Start Single Advantages Box-->
                                <div class="col-xl-3 col-lg-6 col-md-6">
                                    <div class="single-advantages-box">
                                        <div class="inner">
                                            <div class="static-content">
                                                <div class="icon-holder">
                                                    <span class="icon-wallet"></span>
                                                </div>
                                                <div class="title">
                                                    <h3>Reasonable<br> Price</h3>
                                                </div>
                                            </div>
                                            <div class="overlay-text">
                                                <div class="box">
                                                    <div class="inner-text">
                                                        <p>Have to accepted That is wise man of therefore always we indignation.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Single Advantages Box-->
                            </div>
                        </div>

                        <div class="how-work-box">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="image-box">
                                        <img src="/frontend/uploads/agriculture/work.png" alt="Awesome Image">
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="how-works-content">
                                        <h2>How We Work</h2>
                                        <ul>
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-tick"></span>
                                                </div>
                                                <div class="text">
                                                    <span>VISION</span>
                                                    <h3>Brief & Concept</h3>
                                                    <p>We have 5 core values of Safety, Integrity, Transparency, Innovation, and stability.</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-tick"></span>
                                                </div>
                                                <div class="text">
                                                    <span>MISSION</span>
                                                    <h3>Detailed Design</h3>
                                                    <p>Our mission is to provide the qualitative and reliable products in agricultural sections.
                                                      We are committed to a high quality of agricultural products. We attribute our success to
                                                      building strategy on sustainable markets, technics, and funding.
                                                      We believe the quality in our work will represent us for years to come.</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-tick"></span>
                                                </div>
                                                <div class="text">
                                                    <span>AMBITION</span>
                                                    <h3>Installation</h3>
                                                    <p>We foster professional development. <br> We are one team, helping each other achieve the company’s objectives through a
                                                      process of continuous improvement.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="how-work-box">
                          <div class="row">
                              <div class="col-xl-6">
                                  <div class="how-works-content">
                                      <h2>What For Clients</h2>
                                      <ul>
                                          <li>
                                              <div class="icon">
                                                  <span class="icon-tick"></span>
                                              </div>
                                              <div class="text">
                                                  <span>QUALITY</span>
                                                  <p>We will set appropriate quality objectives, target, and our system to meet the
                                                    standard requirement and develop a culture that ensures continuous improvement in
                                                    our management system to enhance quality performance and customer satisfaction.</p>
                                              </div>
                                          </li>
                                          <li>
                                              <div class="icon">
                                                  <span class="icon-tick"></span>
                                              </div>
                                              <div class="text">
                                                  <span>HEALTH</span>
                                                  <p>We have a systematic framework to prevent accidents and ill-health in the workplace.
                                                    We arrange the alcohol and temperature test of all staff before starting works. The
                                                    COVID-19 pandemic has transformed the world of work, we take it into account by
                                                    taking the mask, keeping social distancing, and following all rules and notices of local
                                                    government and Government of Laos.</p>
                                              </div>
                                          </li>
                                          <li>
                                              <div class="icon">
                                                  <span class="icon-tick"></span>
                                              </div>
                                              <div class="text">
                                                  <span>SAFETY AWARENESS</span>
                                                  <p>We are thinking the safety rules to prevent the safe work environment on all works.
                                                    Safety awareness is the habit of thinking about the chance that our staff can get hurt
                                                    or property damage before a task is started. So, we developed our policies and
                                                    procedures in parallel with making sure that our staff are aware of them and that they
                                                    think about safety in everything they do.
                                                    We provide the orientation of safety awareness policy and procedure for all
                                                    newcomers and we also provide the refresh training every year such as first aid,
                                                    firefighting, road safety, etc.</p>
                                              </div>
                                          </li>
                                          <li>
                                            <div class="icon">
                                                <span class="icon-tick"></span>
                                            </div>
                                            <div class="text">
                                                <span>ENVIRONMENTAL POLICY</span>
                                                <p>We enhance the environmental performance and fulfill all compliance obligations and
                                                  achievement of environmental objectives. We reduce trash for instance minimizing of
                                                  using of plastic bags, using both side of paper, recycle, and keep this planet clean and
                                                  green.</p>
                                            </div>
                                        </li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="col-xl-6">
                                <div class="image-box">
                                    <img src="/frontend/uploads/agriculture/work.png" alt="Awesome Image">
                                </div>
                                <div class="image-box">
                                  <img src="/frontend/uploads/agriculture/machine.png" alt="Awesome Image">
                                </div>
                            </div>
                          </div>
                        </div>

                        <div class="how-work-box">
                          <div class="row">
                              <div class="col-xl-6">
                                  <div class="image-box">
                                      <img src="/frontend/uploads/agriculture/pet.png" alt="Awesome Image">
                                      <img src="/frontend/uploads/agriculture/rice.png" alt="Awesome Image">
                                  </div>
                              </div>
                              <div class="col-xl-6">
                                  <div class="how-works-content">
                                      <h2>Our Product Release</h2>
                                      <ul>
                                          <li>
                                              <div class="icon">
                                                  <span class="icon-tick"></span>
                                              </div>
                                              <div class="text">
                                                  <span>Fresh meat</span>
                                                  <p>We provide fish, pork, chicken, duck, and frogs from our farm to our holding
                                                    companies and domestic customers.</p>
                                              </div>
                                          </li>
                                          <li>
                                              <div class="icon">
                                                  <span class="icon-tick"></span>
                                              </div>
                                              <div class="text">
                                                  <span>Rice Processing</span>
                                                  <p>We have a factory of rice processing with installation of equipment for our production and
                                                    public services with flexile charges such as farmers living in this area. Therefore, our factory and
                                                    equipment respond to the real need of farmers for instance the Paddy drying machinery which can
                                                    resolve the problem of the rice seed humid for the best quality. Presently, farmers naturally dry rice
                                                    seed under the sun, so problem is rainy.</p>
                                              </div>
                                          </li>

                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>


                    </div>
                </div>
            </div>
        </section>
        <!--End Single Service Area-->
        <%- include('./layouts/Footer')%>
    </div>

    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

    <%- include('./layouts/Script')%>
</body>


<!-- ser-space-planning 06:47:55 GMT -->
</html>