<!DOCTYPE html>
<html lang="en">
  <%- include('./layouts/Header')%>

  <body>
    <div class="boxed_wrapper">
      <div class="preloader"></div>
      <%- include('./layouts/Navigation')%>

      <!--Start breadcrumb area-->
      <section
        class="breadcrumb-area"
        style="
          background-image: url(/frontend/images/resources/breadcrumb-bg.jpg);
        "
      >
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="inner-content clearfix">
                <div class="title">
                  <h1>
                    CSR Jobs<br />
                    Provider.
                  </h1>
                </div>
                <div class="breadcrumb-menu float-right">
                  <ul class="clearfix">
                    <li><a href="/">Home</a></li>
                    <li class="active">Jobs List</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--End breadcrumb area-->

      <!--Start Company Overview Area-->
      <section class="company-overview-area">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="intro-box clearfix">
                <div class="sec-title">
                  <p>Company Jobs</p>
                  <div class="title">
                    We Are Now!<br />
                    <span>Hiring ...!</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <div class="history-content-box clearfix">
                <div class="history-carousel owl-carousel owl-theme">
                  <% jobs.forEach(function(job){ %>
                  <!--Start Single History Content-->
                  <div class="single-history-content">
                    <div class="img-box">
                      <div class="inner">
                        <% if(job.image == '') { %>
                          <img
                            src="/frontend/images/blog/author.png"
                            alt="Awesome Image"
                          />
                        <% } else { %>
                          <img
                            src="/uploads/images/jobs/<%= job._id %>/<%= job.image %>"
                            alt="Awesome Image"
                          />
                        <% } %>
                      </div>
                    </div>
                    <div class="text-box">
                      <div class="inner">
                        <div class="date">
                          <h3><%= job.createdAt.toLocaleDateString() %></h3>
                        </div>
                        <div class="title">
                          <h3>
                            <%= job.position_en %><br />
                            <%= job.position_la %>
                          </h3>
                        </div>
                        <div class="text">
                          <p><%= job.desc %></p>
                          <a class="btn-two" href="#"
                            >Read More<span class="flaticon-next"></span
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--End Single History Content-->
                  <% }); %>
                </div>
              </div>
            </div>
          </div>
          <div class="row fact-counter">
            <!--Start Single Fact Counter-->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
              <div
                class="single-fact-counter wow fadeInLeft"
                data-wow-delay="100ms"
                data-wow-duration="1500ms"
              >
                <div class="count-box">
                  <h1>
                    <span
                      class="timer"
                      data-from="1"
                      data-to="16"
                      data-speed="5000"
                      data-refresh-interval="50"
                      >16</span
                    >
                  </h1>
                </div>
                <div class="title">
                  <h3>
                    Years of<br />
                    Experience
                  </h3>
                </div>
              </div>
            </div>
            <!--End Single Fact Counter-->
            <!--Start Single Fact Counter-->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
              <div
                class="single-fact-counter wow fadeInLeft"
                data-wow-delay="200ms"
                data-wow-duration="1500ms"
              >
                <div class="count-box">
                  <h1>
                    <span
                      class="timer"
                      data-from="0"
                      data-to="3"
                      data-speed="5000"
                      data-refresh-interval="50"
                      >1.5</span
                    >
                    <img src="/frontend/images/icon/k.png" alt="" />
                  </h1>
                </div>
                <div class="title">
                  <h3>
                    Projects<br />
                    Completed
                  </h3>
                </div>
              </div>
            </div>
            <!--End Single Fact Counter-->
            <!--Start Single Fact Counter-->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
              <div
                class="single-fact-counter wow fadeInLeft"
                data-wow-delay="300ms"
                data-wow-duration="1500ms"
              >
                <div class="count-box">
                  <h1>
                    <span
                      class="timer"
                      data-from="1"
                      data-to="24"
                      data-speed="5000"
                      data-refresh-interval="50"
                      >18</span
                    >
                  </h1>
                </div>
                <div class="title">
                  <h3>
                    Branches<br />
                    Customers
                  </h3>
                </div>
              </div>
            </div>
            <!--End Single Fact Counter-->
            <!--Start Single Fact Counter-->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
              <div
                class="single-fact-counter wow fadeInLeft"
                data-wow-delay="400ms"
                data-wow-duration="1500ms"
              >
                <div class="count-box">
                  <h1>
                    <span
                      class="timer"
                      data-from="1"
                      data-to="27"
                      data-speed="5000"
                      data-refresh-interval="50"
                      >47</span
                    >
                  </h1>
                </div>
                <div class="title">
                  <h3>
                    Awards<br />
                    Productions
                  </h3>
                </div>
              </div>
            </div>
            <!--End Single Fact Counter-->
          </div>
        </div>
      </section>
      <!--End Company Overview Area-->

      <!--Start Team Area-->
      <section class="team-area">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="sec-title float-left">
                <p>We are hiring Now!</p>
                <div class="title">Jobs<span> List</span></div>
              </div>
              <div class="view-all-member style2 float-right">
                <!-- <a class="btn-one" href="#">All Jobs<span class="flaticon-next"></span></a> -->
              </div>
            </div>
          </div>
          <div class="col">
            <% jobs.forEach(function(job){ %>
            <div class="author-box-holder">
              <div class="inner-box">
                <div class="img-box">

                  <% if(job.image == '') { %>
                    <img
                      src="/frontend/images/blog/author.png"
                      alt="Awesome Image"
                    />
                  <% } else { %>
                    <img
                      src="/uploads/images/jobs/<%= job._id %>/<%= job.image %>"
                      alt="Awesome Image"
                    />
                  <% } %>
                </div>
                <div class="text">
                  <h3><%= job.position_en %><span> <%= job.position_la %></span></h3>
                  <p><%= job.desc %></p>
                  <div class="author-social-links">
                    <p>Follow On:</p>
                    <ul class="fix">
                      <li><a href="#">Facebook</a></li>
                      <li><a href="#">Twitter</a></li>
                      <li><a href="#">Instagram</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
      </section>
      <!--End Team Area-->

      <%- include('./layouts/Footer')%>
    </div>

    <div class="scroll-to-top scroll-to-target" data-target="html">
      <span class="fa fa-angle-up"></span>
    </div>

    <%- include('./layouts/Script')%>
  </body>

  <!-- about 06:46:46 GMT -->
</html>
