<!DOCTYPE html>
<html lang="en">
<%- include('./layouts/Header')%>

  <body>
    <div class="boxed_wrapper">
      <div class="preloader"></div>
      <%- include('./layouts/Navigation')%>

        <!--Main Slider-->
        <section class="main-slider">
          <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper" data-source="gallery">
            <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
              <ul>
                <% banners.forEach(function(banner) { %>
                  <li data-description="Slide Description" data-easein="default" data-easeout="default"
                    data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0"
                    data-hideslideonmobile="off" data-index="rs-1689" data-masterspeed="default" data-param1=""
                    data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                    data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off"
                    data-slotamount="default" data-thumb="/frontend/images/slides/v1-1.jpg" data-title="Slide Title"
                    data-transition="parallaxvertical">
                    <td class="table-plus">
                      <% if(banner.image=="" ) { %>
                        <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10"
                          data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina=""
                          src="/frontend/uploads/banners/banner_1.png" />
                        <% } else { %>
                          <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10"
                            data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina=""
                            src="/uploads/images/banners/<%= banner._id %>/<%= banner.image %>" />
                          <% } %>
                    </td>

                    <div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                      data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on"
                      data-type="text" data-height="none" data-width="['800','800','700','500']"
                      data-whitespace="normal" data-hoffset="['15','15','15','15']"
                      data-voffset="['-160','-100','-110','-105']" data-x="['left','left','left','left']"
                      data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']"
                      data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                      style="z-index: 7; white-space: nowrap">
                      <div class="slide-content left-slide">
                        <div class="big-title">Vision</div>
                      </div>
                    </div>
                    <div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                      data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on"
                      data-type="text" data-height="none" data-width="['800','800','700','500']"
                      data-whitespace="normal" data-hoffset="['15','15','15','15']"
                      data-voffset="['-75','-10','-25','-30']" data-x="['left','left','left','left']"
                      data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']"
                      data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},
                        {"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                      style="z-index: 7; white-space: nowrap">
                      <div class="slide-content left-slide">
                        <div class="text">
                          <%= banner.title %> <br />
                            <%= banner.desc %>
                        </div>
                      </div>
                    </div>
                    <div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                      data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on"
                      data-type="text" data-height="none" data-width="['800','800','700','500']"
                      data-whitespace="normal" data-hoffset="['15','15','15','15']"
                      data-voffset="['25','90','100','85']" data-x="['left','left','left','left']"
                      data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']"
                      data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                      style="z-index: 7; white-space: nowrap">
                      <div class="slide-content left-slide">
                        <div class="btn-box">
                          <a class="btn-one" href="/electrical-consult">Read More<span
                              class="flaticon-next"></span></a>
                        </div>
                      </div>
                    </div>
                  </li>
                <% }); %>
              </ul>
            </div>
          </div>
        </section>
        <!--End Main Slider-->


        <!--Start Highlights Area-->
        <section class="highlights-area">
          <div class="container">
            <div class="row">
              <!--Start single highlight box-->
              <div class="col-xl-4 col-lg-4">
                <div class="single-highlight-box text-center wow fadeInUp" data-wow-delay="0ms"
                  data-wow-duration="1200ms">
                  <div class="icon-holder">
                    <img src="/frontend/images/electric_logo.jpeg" class="company-logo" alt="Awesome Image" />
                  </div>
                  <div class="inner-content">
                    <div class="text">
                      <h3>3S Electrical</h3>
                      <p>
                        The company has been formed by a group of professionals
                        having vivid experience and wide exposure in electrical
                        engineering.
                      </p>
                    </div>
                    <a class="btn-one" href="/electrical-consult">Read More<span class="flaticon-next"></span></a>
                  </div>
                </div>
              </div>
              <!--End single highlight box-->
              <!--Start single highlight box-->
              <div class="col-xl-4 col-lg-4">
                <div class="single-highlight-box text-center wow fadeInUp" data-wow-delay="200ms"
                  data-wow-duration="1200ms">
                  <div class="icon-holder">
                    <img src="/frontend/images/constructure_logo.jpeg" class="company-logo" alt="Awesome Image" />
                  </div>
                  <div class="inner-content">
                    <div class="text">
                      <h3>3S SDC Construction</h3>
                      <p>
                        founded in 2018 for providing the civil works in Lao PDR.
                      </p>
                    </div>
                    <a class="btn-one" href="#">Read More<span class="flaticon-next"></span></a>
                  </div>
                </div>
              </div>
              <!--End single highlight box-->
              <!--Start single highlight box-->
              <div class="col-xl-4 col-lg-4">
                <div class="single-highlight-box text-center wow fadeInUp" data-wow-delay="400ms"
                  data-wow-duration="1200ms">
                  <div class="icon-holder">
                    <img src="/frontend/images/agriculture_logo.jpeg" class="company-logo" alt="Awesome Image" />
                  </div>
                  <div class="inner-content">
                    <div class="text">
                      <h3>3S Agriculture</h3>
                      <p>
                        founded in 2020 for providing the agricultural products
                        such as rice, vegetable, pork, fish, etc. for food supply
                        to staff of the group.
                      </p>
                    </div>
                    <a class="btn-one" href="/agriculture">Read More<span class="flaticon-next"></span></a>
                  </div>
                </div>
              </div>
              <!--End single highlight box-->
            </div>
          </div>
        </section>
        <!--End Highlights Area-->

        <!--Start about area-->
        <section class="about-area">
          <div class="container">
            <div class="row">
              <div class="col-xl-5 col-lg-5">
                <div class="about-image-box">
                  <div class="inner-box">
                    <img src="/frontend/uploads/electrical/3s_background_elec.jpeg" alt="Awesome Image" />
                    <div class="overlay">
                      <div class="box">
                        <div class="icon wow zoomIn" data-wow-delay="300ms" data-wow-duration="1500ms">
                          <img src="/frontend/images/3s_logo.png" alt="Home Icon" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-box">
                    <p>Create New Experient and Innovative Technology</p>
                    <h3>ສ້າງຄວາມປອດໄພ ແລະ ວິໄສທັດແຫ່ງເທັກໂນໂລຢີ<span class="title"> ສູ່ອານາຄົດ</span></h3>
                  </div>
                </div>
              </div>
              <div class="col-xl-7 col-lg-7">
                <div class="about-text">
                  <div class="sec-title">
                    <p>About Company</p>
                    <div class="title">
                      To be recognized as a leading<br />
                      contracting company<span> in Lao PDR</span>
                    </div>
                  </div>
                  <div class="inner-content">
                    <div class="text">
                      <p>
                        The key to the company's success is the maintenance of
                        close working relationship with the clients through
                        ensuring the best possible solutions to their needs;
                      </p>
                      <p>
                        To establish and maintain a thoroughknowledge and
                        understanding of client's objective and help them maximize
                        the benefits. <br />
                        As we did from week one, we carry-out to provide cutting
                        edge electrical solutions to customers and major client of
                        Lao PDR
                      </p>
                    </div>
                    <div class="about-carousel-box owl-carousel owl-theme">
                      <!--Start Single Box-->
                      <div class="single-box">
                        <div class="icon-holder">
                          <span class="icon-target"></span>
                        </div>
                        <div class="text-holder">
                          <h3>3S Electric</h3>
                          <p>
                            founded in 2014, it is registered in Champasack
                            Province, Lao PDR. The company has been formed by a
                            group of professionals having vivid experience and
                            wide exposure in electrical engineering. We provide
                            the electrical power solution in Lao PDR.
                          </p>
                        </div>
                      </div>
                      <!--End Single Box-->
                      <!--Start Single Box-->
                      <div class="single-box">
                        <div class="icon-holder">
                          <span class="icon-target"></span>
                        </div>
                        <div class="text-holder">
                          <h3>3S SDC Construction</h3>
                          <p>
                            founded in 2018 for providing the civil works in Lao
                            PDR.
                          </p>
                        </div>
                      </div>
                      <!--End Single Box-->
                      <!--Start Single Box-->
                      <div class="single-box">
                        <div class="icon-holder">
                          <span class="icon-target"></span>
                        </div>
                        <div class="text-holder">
                          <h3>3S Agriculture</h3>
                          <p>
                            founded in 2020 for providing the agricultural
                            products such as rice, vegetable, pork, fish, etc. for
                            food supply to staff of the group.
                          </p>
                        </div>
                      </div>
                      <!--End Single Box-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--End about Area-->

        <!--Start Working Area-->
        <section class="working-area" style="
          background-image: url(/frontend/images/parallax-background/working-bg.jpg);
        ">
          <div class="container">
            <div class="sec-title with-text max-width text-center wow fadeInDown" data-wow-delay="100ms"
              data-wow-duration="1200ms">
              <p>Working</p>
              <div class="title clr-white">Covered <span>Industries</span></div>
              <p class="bottom-text">
                We are an Interior Designer, Who believe in excellence, quality
                and honesty, yes we design beautiful home interiors.
              </p>
            </div>

            <div class="row">
              <!--Start Single Working Box-->
              <div class="col-xl-4 col-lg-4">
                <div class="single-working-box wow fadeInDown" data-wow-delay="0ms">
                  <div class="img-holder">
                    <div class="inner">
                      <img src="/frontend/uploads/works/work_1.png" alt="Awesome Image" />
                      <div class="overlay-style-one"></div>
                    </div>
                  </div>
                  <div class="text-holder">
                    <div class="plus-icon-box">
                      <span class="icon-plus"></span>
                    </div>
                    <div class="outer-box">
                      <div class="icon">
                        <div class="inner">
                          <div class="box">
                            <span class="icon-architecture-and-city1"></span>
                          </div>
                        </div>
                      </div>
                      <div class="text">
                        <h3>Residential</h3>
                        <p>
                          Indignation and dislike men who are so beguiled and our
                          the charms moment.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--End Single Working Box-->
              <!--Start Single Working Box-->
              <div class="col-xl-4 col-lg-4">
                <div class="single-working-box wow fadeInDown" data-wow-delay="400ms">
                  <div class="img-holder">
                    <div class="inner">
                      <img src="/frontend/uploads/works/work_3.png" alt="Awesome Image" />
                      <div class="overlay-style-one"></div>
                    </div>
                  </div>
                  <div class="text-holder">
                    <div class="plus-icon-box">
                      <span class="icon-plus"></span>
                    </div>
                    <div class="outer-box">
                      <div class="icon">
                        <div class="inner">
                          <div class="box">
                            <span class="icon-shop"></span>
                          </div>
                        </div>
                      </div>
                      <div class="text">
                        <h3>Commercial</h3>
                        <p>
                          Righteous indignation work are so beguiled demoralized
                          the blinded by desire.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--End Single Working Box-->
              <!--Start Single Working Box-->
              <div class="col-xl-4 col-lg-4">
                <div class="single-working-box wow fadeInDown" data-wow-delay="800ms">
                  <div class="img-holder">
                    <div class="inner">
                      <img src="/frontend/uploads/works/work_2.png" alt="Awesome Image" />
                      <div class="overlay-style-one"></div>
                    </div>
                  </div>
                  <div class="text-holder">
                    <div class="plus-icon-box">
                      <span class="icon-plus"></span>
                    </div>
                    <div class="outer-box">
                      <div class="icon">
                        <div class="inner">
                          <div class="box">
                            <span class="icon-company"></span>
                          </div>
                        </div>
                      </div>
                      <div class="text">
                        <h3>Industries</h3>
                        <p>
                          Our power of choice is and when nothing prevents work
                          every pleasure interior.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--End Single Working Box-->
            </div>
          </div>
        </section>
        <!--End Working Area-->

        <!--Start Recently Project Area-->
        <section class="recently-project-area">
          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="sec-title float-left">
                  <p>Projects</p>
                  <div class="title">Recently<span> Works</span></div>
                </div>
                <div class="more-project-button float-right">
                  <a class="btn-two" href="/clientpro">More Projects<span class="flaticon-next"></span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="project-carousel owl-carousel owl-theme">
              <% projects.forEach(function(project){ %>
                <!--Start single project style1-->
                <div class="single-project-style1">
                  <div class="img-holder">
                    <% if(project.image=="" ) { %>
                      <img src="/frontend/uploads/works/w_1.png" class="company-recent-work" alt="Awesome Image" />
                      <% } else { %>
                        <img src="/uploads/images/projects/<%= project._id %>/<%= project.image %>"
                          class="company-recent-work" alt="Awesome Image" />
                        <% } %>
                          <div class="overlay-content">
                            <div class="inner-content">
                              <div class="link-box">
                                <a class="btn-one" href="#">Case Study<span class="flaticon-next"></span></a>
                              </div>
                            </div>
                          </div>
                          <div class="title-box">
                            <span>
                              <%= project.name_lao %>
                            </span>
                            <h3>
                              <%= project.name_eng %>
                            </h3>
                          </div>
                  </div>
                </div>
                <!--End single project style1-->
                <% }); %>
            </div>
          </div>
        </section>
        <!--End Recently Project Area-->

        <!--Start Working Process Area-->
        <section class="working-process-area">
          <div class="container">
            <div class="sec-title text-center">
              <p>Vision Goal</p>
              <div class="title">Working <span>process</span></div>
            </div>
            <div class="row">
              <!--Start Single Working Process-->
              <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                <div class="single-working-process text-center">
                  <div class="top-box"><span>01</span></div>
                  <div class="inner">
                    <h3>QUALITY</h3>
                    <p>
                      We provide the electrical and civil engineering design and
                      project management company. We will set appropriate quality
                      objectives, target, and our system to meet the ISO
                      requirement and develop a culture that ensures continuous
                      improvement in our management system to enhance quality
                      performance and customer satisfaction.
                    </p>
                    <div class="icon-holder">
                      <span class="icon-productive"></span>
                    </div>
                  </div>
                </div>
              </div>
              <!--End Single Working Process-->
              <!--Start Single Working Process-->
              <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                <div class="single-working-process text-center">
                  <div class="top-box"><span>02</span></div>
                  <div class="inner">
                    <h3>HEALTH</h3>
                    <p>
                      We have a systematic framework to prevent accidents and
                      ill-health in the workplace. We arrange the alcohol and
                      temperature test of all staff before starting works. The
                      COVID-19 pandemic has transformed the world of work, we take
                      it into account by taking the mask, keeping social
                      distancing, and following all rules and notices of local
                      government and Government of Laos.
                    </p>
                    <div class="icon-holder">
                      <span class="icon-document"></span>
                    </div>
                  </div>
                </div>
              </div>
              <!--End Single Working Process-->
              <!--Start Single Working Process-->
              <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
                <div class="single-working-process text-center">
                  <div class="top-box"><span>03</span></div>
                  <div class="inner">
                    <h3>SAFETY AWARENESS</h3>
                    <p>
                      We are thinking the safety rules to prevent the safe work
                      environment on all projects. Safety awareness is the habit
                      of thinking about the chance that our staff can get hurt or
                      property damage before a task is started. So, we developed
                      our policies and procedures in parallel with making sure
                      that our staff are aware of them and that they think about
                      safety in everything they do.
                    </p>
                    <div class="icon-holder">
                      <span class="icon-kitchen"></span>
                    </div>
                  </div>
                </div>
              </div>
              <!--End Single Working Process-->
              <!--Start Single Working Process-->
              <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                <div class="single-working-process text-center">
                  <div class="top-box"><span>04</span></div>
                  <div class="inner">
                    <h3>SAFETY</h3>
                    <p>
                      We provide the orientation of safety awareness policy and
                      procedure for all newcomers and we also provide the refresh
                      training every year such as first aid, firefighting, road
                      safety, etc.
                    </p>
                    <div class="icon-holder">
                      <span class="icon-productive"></span>
                    </div>
                  </div>
                </div>
              </div>
              <!--End Single Working Process-->
              <!--Start Single Working Process-->
              <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                <div class="single-working-process text-center">
                  <div class="top-box"><span>05</span></div>
                  <div class="inner">
                    <h3>ENVIRONMENTAL POLICY</h3>
                    <p>
                      We enhance the environmental performance and fulfill all
                      compliance obligations and achievement of environmental
                      objectives. We reduce trash for instance minimizing of using
                      of plastic bags, using both side of paper, recycle, and keep
                      this planet clean and green.
                    </p>
                    <div class="icon-holder">
                      <span class="icon-document"></span>
                    </div>
                  </div>
                </div>
              </div>
              <!--End Single Working Process-->
              <!--Start Single Working Process-->
              <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
                <div class="single-working-process text-center">
                  <div class="top-box"><span>06</span></div>
                  <div class="inner">
                    <h3>JOB HAZARD ENVIRONMENT ANALYSIS</h3>
                    <p>
                      We issue a written document signed by user and his/her
                      supervisor. This document sets out the high-risk work
                      activities to be carried out at a workplace, the hazards and
                      risks arising from these activities and the measures to be
                      put in place to control the risks because JSEA considers the
                      environmental as well as health hazards.
                    </p>
                    <div class="icon-holder">
                      <span class="icon-kitchen"></span>
                    </div>
                  </div>
                </div>
              </div>
              <!--End Single Working Process-->
            </div>
          </div>
        </section>
        <!--End Working Process Area-->

        <!--Start slogan area-->
        <section class="slogan-area">
          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="inner-content flex-box-two fix">
                  <div class="title float-left">
                    <h3>
                      Work with our professional teams? Need more information and
                      appoinment.
                    </h3>
                  </div>
                  <div class="button float-right">
                    <a class="btn-one" href="#">Contact now!<span class="flaticon-next"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--End slogan area-->


        <!--Start Team Area-->
        <section class="team-area">
          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="sec-title float-left">
                  <p>Behind Our Company</p>
                  <div class="title">Expert & Experinced <span>Team</span></div>
                </div>
                <div class="view-all-member style2 float-right">
                  <!-- <a class="btn-one" href="#">All Members<span class="flaticon-next"></span></a> -->
                </div>
              </div>
            </div>
            <div class="row">
              <% employees.forEach(function(employee) { %>
              <!--Start Single Team Member-->
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="single-team-member">
                  <div class="img-holder">
                    <% if(employee.image == "") { %>
                      <img src="/frontend/images/noimage.png" class="company-employee-image" alt="Awesome Image">
                    <% } else { %>
                      <img src="/uploads/images/employees/<%= employee._id %>/<%= employee.image %>" class="company-employee-image" alt="Awesome Image">
                    <% } %>
                    
                    <ul class="sociallinks">
                      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="overlay">
                      <div class="box">
                        <div class="link">
                          <a class="btn-two" href="#">View Profile<span class="flaticon-next"></span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="name text-center">
                    <p><span><%= employee.position %></span></p>
                    <h3><%= employee.firstname %> <%= employee.lastname %></h3>
                  </div>
                </div>
              </div>
              <!--End Single Team Member-->
              <% }); %>
            </div>
          </div>
        </section>
        <!--End Team Area-->

        <!--Start latest blog area-->
        <section class="latest-blog-area">
          <div class="container inner-content">
            <div class="sec-title text-center">
              <p>Blogs & Updates</p>
              <div class="title">Latest From <span>Our</span></div>
            </div>
            <div class="row">
              <% blogs.forEach(function(blog){ %>
                <!--Start single blog post-->
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                  <div class="single-blog-post wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                      <% if( blog.image=="" ) { %>
                        <img src="/frontend/images/blog/latest-b-v1-1.jpg" class="company-blog-image"
                          alt="Awesome Image" />
                        <% } else { %>
                          <img src="/uploads/images/blogs/<%= blog._id%>/<%= blog.image %>" class="company-blog-image"
                            alt="Awesome Image" />
                          <% } %>
                            <div class="overlay-style-two"></div>
                            <div class="overlay">
                              <div class="box">
                                <div class="link-icon">
                                  <a href="#"><span class="flaticon-zoom"></span></a>
                                </div>
                              </div>
                            </div>
                    </div>
                    <div class="text-holder">
                      <div class="post-date">
                        <span>Posted: <%= blog.createdAt.toLocaleDateString() %></span>
                      </div>
                      <div class="meta-box">
                        <ul class="meta-info">
                          <li>By <a href="#">Admin</a></li>
                        </ul>
                      </div>
                      <h3 class="blog-title">
                        <a href="blog-single.html">
                          <%= blog.title %>
                        </a>
                      </h3>
                      <div class="text">
                        <p>
                          <%= blog.content %>
                        </p>
                        <a class="btn-two" href="#">Read More<span class="flaticon-next"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
                <!--End single blog post-->
                <% }); %>
            </div>
          </div>
        </section>
        <!--End latest blog area-->

        <!--Start Brand area-->
        <section class="brand-area">
          <div class="container">
            <div class="sec-title">
              <p>Clients</p>
              <div class="title">Our Clients<span> 2,35k Users</span></div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <% if(typeof customers !=='undefined' ) { %>
                  <ul class="brand-items-carousel owl-carousel owl-theme">
                    <% customers.forEach(function(customer){ %>
                      <!--Start Single Brand Item-->
                      <li class="single-brand-item wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <a href="#">
                          <% if(customer.logo=="" ) { %>
                            <img class="company-customer-logo" src="/uploads/noimage.png" alt="Awesome Brand Image" />
                            <% }else { %>
                              <img class="company-customer-logo"
                                src="/uploads/images/customers/logos/<%= customer._id %>/<%= customer.logo %>"
                                alt="Awesome Brand Image" />
                              <% } %>
                        </a>
                        <div class="overlay-content">
                          <p>
                            <%= customer.name_eng %>
                          </p>
                        </div>
                      </li>
                      <!--End Single Brand Item-->
                      <% }); %>
                  </ul>
                  <% }else { %>
                    <ul class="brand-items-carousel owl-carousel owl-theme">
                      <!--Start Single Brand Item-->
                      <li class="single-brand-item wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <a href="#"><img src="/frontend/images/brand/1.png" alt="Awesome Brand Image" /></a>
                        <div class="overlay-content">
                          <p>Miesian</p>
                        </div>
                      </li>
                      <!--End Single Brand Item-->
                    </ul>
                    <% } %>
              </div>
            </div>
          </div>
        </section>
        <!--End Brand area-->

        <!--Start appointment Area-->
        <section class="appointment-area" style="background-image: url(/frontend/uploads/electrical/3s_background_sola.jpeg);">
          <div class="container">
            <div class="row">
              <div class="col-xl-6 col-lg-6">
                <div class="map-content-box">
                  <div class="sec-title">
                    <p>Contact Details</p>
                    <div class="title">How Can We <span>Help You?</span></div>
                  </div>
                  <div class="inner paroller">
                    <img src="/frontend/images/resources/map.png" alt="Map" />
                    <div class="overlay">
                      <div class="single-location-box one wow zoomIn" data-wow-delay="100ms" data-wow-duration="1500ms">
                        <div class="marker-box">
                          <span class="icon-pin"></span>
                        </div>
                        <div class="location-info">
                          <h3>Brooklyn</h3>
                          <p>
                            P. B: 222. Mid Corner Street<br />
                            Brooklyn - 11223.<br />
                            +224 620 63 09 00<br />
                            example@example.com
                          </p>
                        </div>
                      </div>
                      <div class="single-location-box two wow zoomIn" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="marker-box">
                          <span class="icon-pin"></span>
                        </div>
                        <div class="location-info">
                          <h3>Brooklyn</h3>
                          <p>
                            P. B: 222. Mid Corner Street<br />
                            Brooklyn - 11223.<br />
                            +224 620 63 09 00<br />
                            example@example.com
                          </p>
                        </div>
                      </div>
                      <div class="single-location-box three wow zoomIn" data-wow-delay="500ms"
                        data-wow-duration="1500ms">
                        <div class="marker-box">
                          <span class="icon-pin"></span>
                        </div>
                        <div class="location-info">
                          <h3>Brooklyn</h3>
                          <p>
                            P. B: 222. Mid Corner Street<br />
                            Brooklyn - 11223.<br />
                            +224 620 63 09 00<br />
                            example@example.com
                          </p>
                        </div>
                      </div>
                      <div class="single-location-box four wow zoomIn" data-wow-delay="700ms"
                        data-wow-duration="1500ms">
                        <div class="marker-box">
                          <span class="icon-pin"></span>
                        </div>
                        <div class="location-info">
                          <h3>Brooklyn</h3>
                          <p>
                            P. B: 222. Mid Corner Street<br />
                            Brooklyn - 11223.<br />
                            +224 620 63 09 00<br />
                            example@example.com
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6">
                <div class="appointment-box wow slideInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                  <div class="title-box">
                    <h2>Make Appointment</h2>
                    <span>Leave your information here and get reply from our expert
                      in 24 hours, don’t hesitate to ask.</span>
                  </div>
                  <div class="appointment">
                    <form class="appointment-form">
                      <div class="row">
                        <div class="col-xl-12">
                          <div class="single-box">
                            <input type="text" name="form_name" value="" placeholder="Name" required="" />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-12">
                          <div class="single-box">
                            <input type="email" name="form_email" value="" placeholder="Email" required="" />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-12">
                          <div class="single-box">
                            <select class="selectpicker" data-width="100%">
                              <option selected="selected">Interested In</option>
                              <option>Concept Designs</option>
                              <option>Project Designs</option>
                              <option>Make Overs</option>
                              <option>Consulting</option>
                              <option>Glass & Wrought</option>
                              <option>Space Planning</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-12">
                          <div class="single-box">
                            <button class="btn-one" type="submit">
                              Submit Here<span class="flaticon-next"></span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--End appointment Area-->

        <%- include('./layouts/Footer')%>
    </div>

    <div class="scroll-to-top-style2 scroll-to-target" data-target="html">
      <span class="fa fa-angle-up"></span>
    </div>

    <%- include('./layouts/Script')%>
  </body>

  <!--   06:40:40 GMT -->

</html>