<!DOCTYPE html>
<html lang="en">

    <%- include('./layouts/Header')%>

<body>
    <div class="boxed_wrapper">

        <%- include('./layouts/Navigation')%>

        <!--Start breadcrumb area-->
        <section class="breadcrumb-area style2" style="background-image: url(/frontend/images/resources/breadcrumb-bg-2.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="inner-content-box clearfix">
                            <div class="title-s2 text-center">
                                <span>Our Products</span>
                                <h1>Promoted Products</h1>
                            </div>
                            <div class="breadcrumb-menu float-left">
                                <ul class="clearfix">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/products">Products</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End breadcrumb area-->

        <!--Start Main project area style4-->
        <section class="main-project-area style4">
            <div class="container">
                <ul class="project-filter post-filter has-dynamic-filters-counter">
                    <li data-filter=".filter-item" class="active"><span class="filter-text">All Products</span></li>
                    <li data-filter=".mod"><span class="filter-text">Modern</span></li>
                    <li data-filter=".contem"><span class="filter-text">Contemporary</span></li>
                    <li data-filter=".trad"><span class="filter-text">Traditional</span></li>
                    <li data-filter=".ret"><span class="filter-text">Retreat</span></li>
                </ul>
            </div>
            <div class="container-fluid main-project-style4">
                    <% if(typeof products !== 'undefined') { %>
                        <div class="row filter-layout masonary-layout">
                            <% products.forEach(function(product){ %>
                            <!--Start single project item-->
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 filter-item contem trad">
                                <div class="single-project-style7">
                                    <div class="img-holder">
                                        <img src="/uploads/images/products/<%= product._id %>/<%= product.image%>" alt="Awesome Image">
                                        <div class="overlay-content">
                                            <div class="inner-content">
                                                <div class="title-box">
                                                    <span><%= product.name_eng %></span>
                                                    <h3><a href="#"><%= product.name_eng %> - <%= product.name_lao %></a></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <span><%= product.name_eng %></span>
                                        <h3><a href="#"><%= product.name_eng %> - <%= product.name_lao %></a></h3>
                                    </div>
                                </div>
                            </div>
                            <!--End single project item-->
                            <% }); %>
                        </div>
                    <% } else { %>
                        <div class="row filter-layout masonary-layout">
                            <!--Start single project item-->
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 filter-item contem trad">
                                <div class="single-project-style7">
                                    <div class="img-holder">
                                        <img src="/frontend/images/projects/v4-1.jpg" alt="Awesome Image">
                                        <div class="overlay-content">
                                            <div class="inner-content">
                                                <div class="title-box">
                                                    <span>Modern Design</span>
                                                    <h3><a href="project-single.html">Art Family Residence</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <span>Modern Design</span>
                                        <h3><a href="project-single.html">Art Family Residence</a></h3>
                                    </div>
                                </div>
                            </div>
                            <!--End single project item-->
                        </div>
                    <% } %>
                <div class="row">
                    <div class="col-md-12">
                        <div class="load-more-project-style4-button text-center">
                            <a class="btn-one" href="/products">Load More<span class="flaticon-next"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Main project area style4-->

        <%- include('./layouts/Footer')%>

    </div>


    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

    <%- include('./layouts/Script')%>
</body>


<!-- project-v6 06:53:04 GMT -->
</html>