<!DOCTYPE html>
<html lang="en">
  <%- include('./layouts/Header')%>
  <body>
    <div class="boxed_wrapper">
      <div class="preloader"></div>

      <%- include('./layouts/Navigation')%>

      <!--Start breadcrumb area-->
      <section
        class="breadcrumb-area style2"
        style="background-image: url(/uploads/photos/volunteer_banner.jpeg)"
      >
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="inner-content-box clearfix">
                <div class="title-s2 text-center">
                  <span>CSR Recently Work</span>
                  <h1>Bring you safty work!</h1>
                </div>
                <div class="breadcrumb-menu float-left">
                  <ul class="clearfix">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/volentears">CSR Jobs</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--End breadcrumb area-->
      <!--Start blog area-->
      <section id="blog-area" class="blog-large-area">
        <div class="container">
          <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12">
              <% if(typeof volunteers !== 'undefined') { %>
                <div class="blog-post">
                  <% volunteers.forEach(function(volunteer){ %>
                  <!--Start Single blog Post style4-->
                  <div
                    class="single-blog-post style4 wow fadeInUp"
                    data-wow-delay="0ms"
                    data-wow-duration="1500ms"
                  >
                    <div class="img-holder">
                      <% if(volunteer.image == '') { %>
                        <img
                          src="/frontend/images/blog/v2-1.jpg"
                          alt="Awesome Image"
                        />
                      <% } else { %>
                        <img
                          src="/uploads/images/volentears/<%= volunteer._id %>/<%= volunteer.image %>"
                          alt="Awesome Image"
                        />
                      <% } %>
                      <div class="overlay-style-two"></div>
                      <div class="overlay">
                        <div class="box">
                          <div class="link-icon">
                            <a href="#"><span class="icon-link1"></span></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-holder">
                      <h3 class="blog-title">
                        <a href="#"><%= volunteer.title %></a>
                      </h3>
                      <div class="meta-box">
                        <ul class="meta-info">
                          <li>By <a href="#">Sys Adminstration</a></li>
                          <li>On <a href="#"><%= volunteer.createdAt.toLocaleDateString() %></a></li>
                          <li>In <a href="#"><%= volunteer.remark %></a></li>
                        </ul>
                      </div>
                      <div class="text">
                        <p>
                          <%= volunteer.desc %>
                        </p>
                      </div>
                      <div class="button">
                        <a class="btn-one" href="#"
                          >Read More<span class="flaticon-next"></span
                        ></a>
                      </div>
                    </div>
                  </div>
                  <!--End Single blog Post style4-->
                  <% }) %>
                </div>
                <% } else { %>
                  <div class="blog-post">
                    <!--Start Single blog Post style4-->
                    <div
                      class="single-blog-post style4 wow fadeInUp"
                      data-wow-delay="0ms"
                      data-wow-duration="1500ms"
                    >
                      <div class="img-holder">
                        <img
                          src="/frontend/images/blog/v2-1.jpg"
                          alt="Awesome Image"
                        />
                        <div class="overlay-style-two"></div>
                        <div class="overlay">
                          <div class="box">
                            <div class="link-icon">
                              <a href="#"><span class="icon-link1"></span></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="text-holder">
                        <h3 class="blog-title">
                          <a href="#">Low-cost interior designing ideas for you</a>
                        </h3>
                        <div class="meta-box">
                          <ul class="meta-info">
                            <li>By <a href="#">Rubin Santro</a></li>
                            <li>On <a href="#">March 06, 2019</a></li>
                            <li>In <a href="#">Traditional</a></li>
                          </ul>
                        </div>
                        <div class="text">
                          <p>
                            We denounce with righteous indignation and dislike men
                            who are so beguiled and demoralized by the charms
                            pleasure of the moment, so blinded by desire, that they
                            cannot foresee the pain and trouble that are bound to
                            all ensue; and equal blame belongs to those who fail in
                            their duty through shrinking.
                          </p>
                        </div>
                        <div class="button">
                          <a class="btn-one" href="#"
                            >Read More<span class="flaticon-next"></span
                          ></a>
                        </div>
                      </div>
                    </div>
                    <!--End Single blog Post style4-->
                  </div>
                <% } %>
              <div class="row">
                <div class="col-md-12">
                  <ul class="post-pagination text-center">
                    <li>
                      <a href="#"
                        ><i class="fa fa-angle-left" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-angle-right" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!--Start sidebar Wrapper-->
            <div class="col-xl-3 col-lg-4 col-md-7 col-sm-12">
              <div class="sidebar-wrapper">
                <div class="sidebar-search-box">
                  <form class="search-form" action="#">
                    <input placeholder="Your Keyword..." type="text" />
                    <button type="submit">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                  </form>
                </div>
                <!--Start single sidebar-->
                <div class="single-sidebar categories-box">
                  <div class="sidebar-title">
                    <div class="title">Categories</div>
                  </div>
                  <ul class="categories clearfix">
                    <li>
                      <a href="#">Electrical Consulting<sup>(128)</sup></a>
                    </li>
                    <li>
                      <a href="#">Agriculture<sup>(159)</sup></a>
                    </li>
                    <li>
                      <a href="#">Construction Consulting<sup>(240)</sup></a>
                    </li>
                    <li>
                      <a href="#">3S Consulting<sup>(138)</sup></a>
                    </li>
                  </ul>
                </div>
                <!--End single sidebar-->
                <!--Start single sidebar-->
                <div class="single-sidebar">
                  <div class="sidebar-title">
                    <div class="title">Recent Post</div>
                  </div>
                  <% if(typeof volunteers !== 'undefined') { %>
                    <ul class="recent-post">
                      <% volunteers.forEach(function(volunteer){ %>
                        <li>
                          <div class="img-holder">
                            <% if(volunteer.image == '') { %>
                            <img
                              src="/frontend/images/sidebar/recent-post-1.jpg"
                              alt="Awesome Image"
                            />
                            <% } else { %>
                              <img
                              src="/uploads/images/volentears/<%= volunteer._id %>/<%= volunteer.image %>"
                              alt="Awesome Image"
                            />
                          <% } %>
                            <div class="overlay-style-one">
                              <div class="box">
                                <div class="content">
                                  <a href="#"><span class="icon-link"></span></a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="title-holder">
                            <span><%= volunteer.createdAt.toLocaleDateString() %></span>
                            <h5 class="post-title">
                              <a href="#"><%= volunteer.title %></a>
                            </h5>
                          </div>
                        </li>
                      <% }) %>
                    </ul>
                    <% } else { %>
                      <ul class="recent-post">
                        <li>
                          <div class="img-holder">
                            <img
                              src="/frontend/images/sidebar/recent-post-1.jpg"
                              alt="Awesome Image"
                            />
                            <div class="overlay-style-one">
                              <div class="box">
                                <div class="content">
                                  <a href="#"><span class="icon-link"></span></a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="title-holder">
                            <span>March 10, 2019</span>
                            <h5 class="post-title">
                              <a href="#"
                                >Creating drama and<br />
                                feeling with...</a
                              >
                            </h5>
                          </div>
                        </li>
                      </ul>
                  <% } %>
                </div>
                <!--End single sidebar-->
              </div>
            </div>
            <!--End Sidebar Wrapper-->
          </div>
        </div>
      </section>
      <!--End blog area-->

      <%- include('./layouts/Footer')%>
    </div>

    <div class="scroll-to-top scroll-to-target" data-target="html">
      <span class="fa fa-angle-up"></span>
    </div>

    <%- include('./layouts/Script')%>
  </body>

  <!-- blog-v2 06:55:14 GMT -->
</html>
